<div class="row image" >
  <h1 style="text-align:center; color: blanchedalmond; stroke-dashoffset: 0ch;"> Employee Appraisal Management</h1>
  <div class="row">
    <div class="card-panel image ">
      <div class="card-content white-text light-blue darken-4 darken-1">
        <div class="row">
          <button type="button" class="collapsible waves-effect waves-light btn" (click)="collapse()">Add employee</button>
          <div class="col s12 content blue-grey darken-1">
            
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="col s2">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter full name" required>
                  <label>Name :
                    <label class="red-text labeltext">*</label>
                  </label>
                </div>
              </div>
              <div class="col s2">
                <div class="input-field col s12">
                  <input type="text" name="department" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.department" placeholder="Enter Departement">
                  <label>Departement :
                    
                  </label>
                </div>
              </div>
              <div class="col s2">
                <div class="input-field col s12">
                  <input type="text" name="date" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.date" placeholder="Enter date of joining">
                  <label>Date of joining:
                  
                  </label>
                </div>
              </div>
              <div class="col s2">
                <div class="input-field col s12">
                  <input type="text" name="performance" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.performance" placeholder="Performance rating">
                  <label>Performance rating :</label>
                </div>
              </div>
              <div class="col s2">
                <div class="input-field col s12">
                  <input type="text" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary per annum">
                  <label>Salary :</label>
                </div>
              </div>
              <div class="col s2">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                </div>
              </div>
              
            </form>
          </div>
          <div class="col s12">
              <table class="responsive-table highlight centered">
                  <thead>
                    <tr>
                      <th >Name</th>
                      <th>Departement</th>
                      <th>Date of joining</th>
                      <th>Performance rating</th>
                      <th>Salary</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let emp of employeeService.employees">
                    <td style="text-align:center">{{emp.name}}</td>
                    <td style="text-align:center">{{emp.department}}</td>
                    <td style="text-align:center">{{emp.date}}</td>
                    <td style="text-align:center">{{emp.performance}}</td>
                    <td style="text-align:center">{{emp.salary}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(emp)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>