<form method="post" action="index.html" class="login">
    <p>
      <label for="login">Name:</label>
      <input type="text" name="name" id="login" placeholder="Enter your name here">
    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="Enter password here">
    </p>

    

    <p class="login-submit">
      <button type="submit" class="login-button">Signup</button>
    </p>

    <p class="forgot-password"><a href="index.html">Login</a></p>

</form>